/* navbar */
li {
    font-weight: bold;
}

/* bold serve para deixar texto em negrito */

ul {
    list-style: none;
}

/* lista não ordenada */
.logo{
 
    width: 10%;
    height: 20%;
}

header {
    background-color: rgb(86, 83, 83);
    padding: 1rem;
    font-family: Arial, sans-serif;
    
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    padding: 0 1rem;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* /navbar */

/* Main */
.imagem{
    position: relative;
    width: 10%;
    height: 0%;
    margin: 0 auto;
    top: -15em;
}

h1{
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 2em;
    width: 40%;
    top: 3em;
    text-align: center;
    position: relative;
}


p{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    width: 25%;
    top: 5em;
    left: 3em;
    text-align: center;
    position: relative;
}