
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   
    
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    height: 80vh;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.developer {
    border-right: 1px solid #fffdfd;
}

.developer-photo {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.site .logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    color: #333;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
}


.navbar {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.logo {
    position: relative;
    height: 15vh;
    width: 10vw;
    vertical-align: middle;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
